@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-surface: #141414;
  --color-surface-alt: #1d1d1d;
  --color-surface-alt-extra: #262626;
  --color-dnd: #df7a9b;
  --color-idle: #cbaa4b;
  --color-online: #3bb693;
  --color-offline: #808080;
  --color-border: #262626;
  --color-muted: #aaaaaa;
  --color-link: #c195e2;
  --color-activity-timestamp: #4fc6a2;
}

html,
body {
  @apply m-0 p-0 w-full h-full bg-surface text-white;
  font-family: "DM Mono";
}
