@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar';

html,
body {
  @apply w-full h-full bg-[#0d0c1c] text-white m-0 p-0;
  font-family: "Lexend", sans-serif;
}

.filter-bsky-blue:hover {
  filter: invert(36%) sepia(73%) saturate(3506%) hue-rotate(196deg)
    brightness(104%) contrast(105%);
}

.filter-monero-orange:hover {
  filter: invert(42%) sepia(32%) saturate(4171%) hue-rotate(2deg)
    brightness(105%) contrast(104%);
}

.filter-instagram-color:hover {
  filter: invert(13%) sepia(73%) saturate(7330%) hue-rotate(329deg)
    brightness(99%) contrast(105%);
}

.presence-image {
  filter: brightness(90%) contrast(120%) hue-rotate(200deg);
}
